
<h1>Carrie Snow</h1>
<h2>Ruby on Rails Workspace</h2>
<p>GraphiQL Git Repo Query Test</p>

<form id="graphql-form">
    <input id="graphql-query" placeholder="Github Username">
    <button type="submit">Run Query</button>
</form>
<pre id="graphql-result"></pre>