
<div class="home-flex">
  <button id="toggle-mode-btn" class="toggle-mode-btn">Toggle Light/Dark Mode</button>
  <div class="home-title">Carrie Snow</div>
  <div class="home-subtitle">Tinkerer</div>
  <div class="home-footer">&copy; 2025</div>
</div>

<h1>hi.</h1>    