<!DOCTYPE html>
<html>
  <head>
    <title>Carrie Rails Workspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="/assets/builds/application.js" defer></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
